node_modules/
dist/
dist-electron/
*.log
.env
.env.*
firebase-adminsdk.json
google-services.json
GoogleService-Info.plist
*.exe
app/native-windows/bin/
app/native-windows/obj/
app/backend/dist/
app/electron/dist-electron/
